#mainHeading{
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
    position:fixed;
    left: 7.5vw;
    top:7.5vw;
    font-size: 7vw;
}
html{
    cursor:none;
}

ul{
    font-family: helvetica, arial, sans-serif;
    font-size: 3.5vw;
    margin: 0;
    position:absolute;
    top:20vw;
    left:5vw;
    list-style:none;
    line-height: 5vw;
}

a{
    text-decoration: none;
    cursor:none;
    color:black;
}

#listContainer{
    margin:0;
    top:20vw;
    left:7.5vw;
}

a:visited{
    color:grey;
}

li{
    transition:300ms;
}

li:hover{
    transform: scale(1.1);
}

#circularcursor{
    background:red;   
    height:20px;
    width:20px;
    border-radius:50%;
    position: absolute;
    z-index: 1;
}

/* Custom cursor code provided by Matthew Marquise of DEV.to */